.ui-tab-picker-inline {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    padding: 2px;
    display: flex;
    .ui-tab-picker-inline-item {
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.5);
        padding: 0 4px;
        cursor: pointer;
        &.active {
            background: #FFFFFF;
            border-radius: 4px;
            color: #16133E;
            cursor: default;
        }
    }
}